.custom-button {
  background-color: #E8BE71;
  color: #2B2925;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #D0C9C2;
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f7ef;
  color: #2b2925;
  min-height: 100vh;
}


