.radar-container {
    width: 100%;
    height: 100%;
  }
  
  /* Define additional CSS for responsiveness using media queries */
  @media (max-width: 768px) {
    .radar-container {
      font-size: 14px; /* Adjust the font size or any other styles */
    }
  }
  
  @media (max-width: 480px) {
    .radar-container {
      font-size: 12px; /* Adjust styles for smaller screens */
    }
  }

  