/* WordSearch.css */

/* General styles */
.word-search-container {
  text-align: center;
  margin: 20px;
  background-color: #D0C9C2; /* Set background color here */
}


.word-search-grid {
  width: 600px; 
  height: 600px; 
  margin: 0 auto; 
}

.word-search-grid td {
  width: 30px; 
  height: 30px; 
  border: 1px solid #ccc;
  cursor: pointer;
}

.word-search-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.selected {
  background-color: #ffcc00 !important;
  color: #fff !important;
  cursor: pointer;
}

/* Table styles */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* Active cell styles */
.active {
  background-color: #007bff;
  color: #fff;
}

/* Found word cell styles */
.found-word-cell {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
}

/* Found word styles */
.found-word {
  display: inline-block;
  padding: 5px;
  background-color: #28a745;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Additional enhancements */
.mirror {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
}
