

.container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 999;
}

/* .row{
  padding: 5%;
  z-index: 999;

} */

.container .blob{
  position: absolute;
  right: 0;
}

.container .star-blob{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.login-img img{
  max-width: 100%;
}

.auth-msg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.md-row{
  display: flex ;
  justify-content: space-between;
}

@media only screen and (max-width: 765px) {
  .login-img{
    display: none;
  }
  .md-row{
    display: block ;
  }
}